body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

  --main-color: #4d19f8;
  --main-color-back: #232323;
  --main-color-back-deep: #1a1a1a;

  background-color: var(--main-color-back);
}
