body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

  --main-color: #4d19f8;
  --main-color-back: #1c1c1c;
  --main-color-back-deep: #151515;

  background-color: var(--main-color-back);
}

.ant-form-item-label {
  width: 100%;
  text-align: left;
}
